input[type="email"] {
    border: 2px solid blue;
}

input:focus{
    outline: 3px solid blue;
    box-shadow: 5px 5px 10px lightpink;
}

li:first-child{
    font-weight: bold;
}

tbody tr:nth-child(2n){
    background: #f5f5f5;
}

p:not(.intro){
    color: #666;
}
blockquote::before{
    content: "«";
    color: blue;
}
blockquote::after{
    content: "»";
    color: blue;
}

blockquote{
    border-left: 5px solid blue;
    padding-left: 10px;
}
h2 {
    color: #3030ef;
}
h1{
    color: #3030ef;
}

body{
    box-shadow: #1a1a1a 0 0 15px;
    border-radius: 30px;
    padding: 20px;
}
